# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore image files
*.png
*.jpg
*.jpeg

# Ignore receipts folder
receipts/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore logs
*.log

# Ignore environment files
.env
